body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #81d4fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contact,
.supply-from-china,
.offer,
.about-us {
  background-color: white;
  padding: 50px;
}

.nav-text, 
.link {
  text-decoration: none !important;
}

.nav-link:hover {
  opacity: 0.5;
}

.nav-text {
  color: white !important;
}

.sliderimg{
  width: 100%;
  height: 450px;
  object-fit: cover
}

.nav-item {
  margin: 0 10px 0 10px;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.large-font {
  font-size: large;
}

.service-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: white;
  padding-left: 2%;
  padding: 4%;
}

.footer {
  display: grid;
  background-color: rgb(43, 41, 41);
  color: #fff;
  grid-template-columns: 1fr 1fr;
  text-align: start;
  padding: 50px;
}

.footer h3 {
  color: #2ea3f2;
  margin-bottom: 20px;
}

.language-navbar {
  background-color: #2ea3f2;
}

.footer .link:hover {
  opacity: 0.5;
}

.service-container {
  background-color: #fff;
  padding: 50px;
}

.logo {
  max-height: 80px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 2px 16px;
  text-align: center;
}

.introduction {
  display: flex;
  flex-direction: row;
}