body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #81d4fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contact,
.offer,
.about-us {
  background-color: white;
  padding: 40px;
}

.link {
  text-decoration: none;
}

.nav-link:hover {
  opacity: 0.5;
}

.lang-text {
  color: white !important;
}

.sliderimg{
  width: 100%;
  height: 450px;
  object-fit: cover
}

.nav-item {
  margin: 0 10px 0 10px;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.large-font {
  font-size: large;
}