body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contact,
.supply-from-china,
.offer,
.about-us {
  background-color: white;
  padding: 100px;
}

.language-navbar-text, 
.link {
  text-decoration: none !important;
}

.language-navbar-text:hover {
  opacity: 0.5;
}

.language-navbar-text {
  color: white !important;
}

.sliderimg{
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.nav-item {
  margin: 0 10px 0 10px;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.large-font {
  font-size: large;
}

.service-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  padding: 5%;
}

.footer {
  display: flex;
  background-color: rgb(43, 41, 41);
  color: #fff;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
  font-size: large;
}

.footer h3 {
  color: #2ea3f2;
  margin-bottom: 20px;
}

.language-navbar {
  background-color: #2ea3f2;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.language-navbar p {
  margin-left: 20px;
  padding-top: 8px;
}

.footer .link:hover {
  opacity: 0.5;
}

.service-container {
  background-color: #fff;
  padding: 100px;
}

.logo {
  max-height: 80px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 2px 16px;
  text-align: center;
}

.introduction {
  display: flex;
  flex-direction: row;
}

.map {
  border: 0;
  float: right;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  .contact {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .introduction {
    display: flex;
    flex-direction: column-reverse;
  }

  .card {
    width: 100%;
  }
}

@media only screen and (max-width: 950px) {
  .footer {
    flex-direction: column;
    padding: 20px;
  }

  .footer div {
    margin-top: 10%;
    text-align: center;
  }

  .service-container {
    background-color: #fff;
    padding: 15px;
    margin-top: 30px;
  }

  .service-container h1 {
    text-align: center;
  }

  .contact,
  .supply-from-china,
  .offer,
  .about-us {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
  }

  .contact,
  .supply-from-china,
  .offer,
  .about-us h1 {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .service-cards {
    flex-direction: column;
    align-items: center;
  }

  .contact {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .introduction {
    display: flex;
    flex-direction: column-reverse;
  }

  .card {
    width: 100%;
    margin: 15px;
  }

  .footer {
    flex-direction: column;
    padding: 20px;
  }
}